{% extends "mysite/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div>
        <p> <h1><b>Balance Your diet, Balance your Health</b></h1><br>
            Your nutrition is the fuel that helps keep your body moving at its best,<br>
            giving you the ability to breathe, move, and think properly.<br>
            A balanced diet provides the essential nutrition to help you <br>
            get the right balance of vitamins, minerals, fiber, protein, carbs,<br> 
            and other nutrients you need daily.<br>
             Too much of one nutrient or too little of another and the delicate balance is thrown off.

             <h2><b>Why doctors recommend Honeyminnt®</b></h2>
             Doctors recommend Honeymint® products to their patients in order to supplement their diets and<br>
            help make sure they’re getting the nutrients they need.
            <p>



        <p>
        <b>Register Now</b> to participate in  the contest<br>
        top 10 participants to win goodies from Honeymint

        </p>


    </div>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}